/* Issue Count Badge */
.issue-count {
    background-color: #93c45d;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    display: inline-block;
}

/* Mentions Styling */
a.mention {
    padding: 5px;
    background: #888 !important;
    border-radius: 5px;
    color: #fff !important;
}

/* Tags */
.tag {
    max-width: 100% !important;
    border-radius: 8px !important;
}

/* Filters */
.filters-applied .single-applied-filter {
    border-radius: 8px;
    padding-left: 5px;
}

/* Ticket Header */
.ticket-header .detail-status-inner > span {
    border-radius: 5px !important;
    text-transform: inherit !important;
}

/* Custom Fields */
.duty-custom-fields .custom-fields-header {
    display: none !important;
}

.custom-fields-body {
    border-top: 3px solid #ebebeb;
    padding-top: 25px;
}

/* Issues Table */
.issues-table .modified-field {
    text-align: center;
}

.issues-table .row {
    border-left: 5px solid #f4f4f4;
}

.issues-table .row:not(.title):hover,
.single-filter.single-filter-type-custom.active,
.single-filter.single-filter-type-custom:hover {
    background: bisque !important;
    border-radius: 5px !important;
}

/* Ticket Status */
.past-soon {
    border-left: 5px solid #E44057 !important;
}

.due-soon {
    border-left: 5px solid #CFD350 !important;
}

/* Avatar Styling */
.comment .comment-avatar,
.activity .activity-avatar,
.ticket-user-list .user-list-avatar img {
    border-radius: 50%;
}

/* Comments */
tg-comment.comment {
    padding-left: 15px;
    border-radius: 8px;
}

tg-comment.comment:nth-child(even) {
    background: #f4f4f4 !important;
}

.comment .comment-wrapper {
    border: none !important;
}

/* Subheader */
.subheader .tags-container {
    column-gap: 5px !important;
}

/* Hide Unnecessary Fields */
.detail-project {
    display: none !important;
}

[data-fieldname="type"],
[data-fieldname="severity"],
[data-fieldname="priority"],
[tg-listitem-type="issue"],
[tg-listitem-severity="issue"],
[tg-listitem-priority="issue"],
.ticket-data-container {
    display: none !important;
}

/* Close Icon */
tg-svg.icon-close {
    width: 15px !important;
    height: auto !important;
}